<a href="https://colab.research.google.com/github/Bewsure/PM10/blob/main/pandas_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# iloc (integer index)

In [ ]:
import pandas as pd
pd.__version__

'0.21.0'

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mtcars.csv',
               nrows=10)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [ ]:
df.iloc[1]

model    Mazda RX4 Wag
mpg                 21
cyl                  6
disp               160
hp                 110
drat               3.9
wt               2.875
qsec             17.02
vs                   0
am                   1
gear                 4
carb                 4
Name: 1, dtype: object

In [ ]:
df.iloc[1:4] # exclusive

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [ ]:
df.iloc[[1]]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [ ]:
df.iloc[1, 0]

'Mazda RX4 Wag'

In [ ]:
df.iloc[1, 0:2] # exclusive

model    Mazda RX4 Wag
mpg                 21
Name: 1, dtype: object

In [ ]:
df.iloc[[1, 6]]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [ ]:
df.iloc[[1, 6], :]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [ ]:
df.iloc[[1, 6], [0, 4]]

           model   hp
1  Mazda RX4 Wag  110
6     Duster 360  245

In [ ]:
df.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [ ]:
df.columns.str.contains('mpg|hp|gear')

array([False,  True, False, False,  True, False, False, False, False,
       False,  True, False], dtype=bool)

In [ ]:
df.iloc[:, df.columns.str.contains('model|mpg|hp|gear')]

               model   mpg   hp  gear
0          Mazda RX4  21.0  110     4
1      Mazda RX4 Wag  21.0  110     4
2         Datsun 710  22.8   93     4
3     Hornet 4 Drive  21.4  110     3
4  Hornet Sportabout  18.7  175     3
5            Valiant  18.1  105     3
6         Duster 360  14.3  245     3
7          Merc 240D  24.4   62     4
8           Merc 230  22.8   95     4
9           Merc 280  19.2  123     4

In [ ]:
df.iloc[:5, df.columns.str.contains('model|mpg|hp|gear')]

               model   mpg   hp  gear
0          Mazda RX4  21.0  110     4
1      Mazda RX4 Wag  21.0  110     4
2         Datsun 710  22.8   93     4
3     Hornet 4 Drive  21.4  110     3
4  Hornet Sportabout  18.7  175     3

In [ ]:
df.iloc[4:]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.44,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.57,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.19,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.15,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.30,1,0,4,4

In [ ]:
df.iloc[::2]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.62,16.46,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.32,18.61,1,1,4,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.44,17.02,0,0,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.57,15.84,0,0,3,4
8,Merc 230,22.8,4,140.8,95,3.92,3.15,22.90,1,0,4,2

In [ ]:
df.iloc[:, ::2]

               model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3
5            Valiant    6  105  3.460   1     3
6         Duster 360    8  245  3.570   0     3
7          Merc 240D    4   62  3.190   1     4
8           Merc 230    4   95  3.150   1     4
9           Merc 280    6  123  3.440   1     4